* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", san-serif;
}

header {
	padding: 30px;
}

.profile-container {
	background-image: url("./images/pexels-mart-production-7679873.jpg");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 60vh;
	min-width: 86vw;
	display: grid;
	align-items: end;
	justify-content: center;
}

.profile-container h1 {
	color: white;
	font-family: "Playfair";
	font-size: 3rem;
}

.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.about-section h1 {
	font-family: "Playfair";
	font-size: 3rem;
	font-weight: 200;
	padding-bottom: 20px;
}

.about-section p {
	line-height: 1.5;
	padding-bottom: 20px;
}

.icons-container {
	display: flex;
	gap: 20px;
}

i {
	font-size: 30px;
	cursor: pointer;
}

/*<---------------------------------main section--------------------------------------> */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-inline: 30px;
	padding-bottom: 80px;
}

main h1 {
	font-family: "Playfair";
	font-size: 3rem;
	font-weight: 200;
	padding-bottom: 20px;
}

.project-container {
	display: grid;
	gap: 30px;
}

.project-card {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 86vw;
}

.project-screenshot {
	min-height: 40vh;
	background-color: blueviolet;
	min-width: 87vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2rem;
	font-family: "Playfair";
}

.project-decription {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 20px;
	padding-bottom: 20px;
}

.project-decription p {
	line-height: 1.5;
}

.project-name-container {
	display: flex;
}

/* screenshort colors */

.project-screenshot.color2 {
	background-color: pink;
}

.project-screenshot.color3 {
	background-color: orangered;
}

.project-screenshot.color4 {
	background-color: khaki;
}

.project-screenshot.color5 {
	background-color: slategrey;
}

.project-screenshot.color6 {
	background-color: lightseagreen;
}

footer {
	background-color: rgb(41, 194, 255);
	padding: 30px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer h1 {
	font-size: 3rem;
	padding-bottom: 20px;
}
footer p {
	line-height: 1.5;
}

footer .icons-container {
	padding-top: 20px;
}

footer .project-description {
	padding-bottom: 20px;
}

/* footer .footer-image {
	
} */

@media screen and (min-width: 600px) {
	header {
		display: flex;
	}
	.profile-container {
		background-image: url("./images/pexels-mart-production-7679873.jpg");
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 30vh;
		min-width: 30vw;
		/* position: absolute; */
	}
	.icons-container {
		display: none;
	}

	main {
		display: grid;
		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		padding-inline: 30px;
		padding-bottom: 80px;
	}
	.project-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		
	}

	.project-card, .project-screenshot {
		min-width: 40vw;
	}
}
